* {
    background-color: maroon;
}
.std {
    text-align: center;
    font-family: Helvetica, sans-serif;
    padding: 10px;
    background-color: salmon;
}

img {
        width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.smallTxt,
li,
ol,
ul {
    background-color: pink;
    font-size: x-large;
    padding: 10px;
}

.header{
    padding: 10px;
    background-color: salmon;
}
.smallTxt{
    font-size: 20px;
}